@import "./variables";
@import "./resets";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes openMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $mainColor;
  color: $textColor;
  font-family: $bodyFont;
  font-size: 0.93rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
  color: $titleColor;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: $titleColor;
}

header {
  position: fixed;
  top: 0;
  @include flexCenter;
  width: 100%;
  height: 3rem;
  background-color: $mainColor;
  justify-content: space-between;
  padding: 0 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}

.logo {
  font-size: 1.5rem;
  color: $titleColor;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: $titleColor;
  font-size: 1.2rem;
  padding: 0.625em 1.563em;
  transition: 0.2s;
  margin: 0 0.313em;
}

.nav-bar ul li a:hover {
  color: $textColor;
}

.container {
  //background-color: rgb(216, 21, 21);
  height: 100vh;
  @include flexCenter;
  flex-direction: column;
  text-align: justify;
  margin: 2em 6em;
}

.hero-content {
  text-align: center;
}

.about-content p {
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0 2em;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 2px;
    background-color: $titleColor;
    margin: 6px 0;
    transition: 0.5s;
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .hamburger.active .line:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-bar {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    height: 0;
    width: 100vw;
    background: $mainColor;
    transition: 0.5s;
  }
  .nav-bar ul {
    display: block;
    margin: 5em auto 0 auto;
    text-align: right;
    visibility: hidden;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 100vh;
  }

  .nav-bar.active ul {
    transform-origin: top;
    animation: openMenu 0.5s ease-in-out forwards;
    visibility: visible;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .container {
    height: 100dvh;
    margin: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .about-content {
    width: 80%;
  }
}
