@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent;
  }

  section {
    scroll-margin-top: 5rem;
  }

  .container {
    width: 80%;
    margin: 2rem auto;
  }

  .active span {
    border-bottom: 2px solid violet;
    padding-bottom: 4px;
  }
}
